.sedona h2 {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  font-family: "PTSans", "Arial", "Serif";
  text-transform: uppercase;
}

.sedona p {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  font-family: "PTSans", "Arial", "Serif";
  text-transform: uppercase;
}

.features-blue h3 {
  font-size: 21px;
  line-height: 21px;
  color: white;
  font-weight: bold;
  font-family: "PTSans", "Arial", "Serif";
  text-transform: uppercase;
}

.features-blue p, .features-blue span {
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: normal;
  font-family: "PTSans", "Arial", "Serif";
  text-transform: uppercase;
}

.features-gray h3 {
  font-size: 21px;
  line-height: 21px;
  color: black;
  font-weight: bold;
  font-family: "PTSans", "Arial", "Serif";
  text-transform: uppercase;
}

.features-gray p, .features-gray span {
  font-size: 14px;
  line-height: 21px;
  color: white;
  font-weight: normal;
  font-family: "PTSans", "Arial", "Serif";
  text-transform: uppercase;
}

work.bleat
