.about-title {
  font-size: 21px;
  line-height:26px;
  color: black;
  font-weight: bold;
  font-family: "PTSans";
  text-transform: uppercase;
}

.feature-title-black {
  font-size: 14px;
  line-height:26px;
  color: black;
  font-weight: bold;
  font-family: "PTSans";
  text-transform: uppercase;
}

.feature-title-white {
  font-size: 14px;
  line-height:26px;
  color: white;
  font-weight: bold;
  font-family: "PTSans";
  text-transform: uppercase;
}

.offer-title {
    font-size: 30px;
    line-height:24px;
    color: black;
    font-weight: bold;
    font-family: "PTSans";
    text-transform: uppercase;
  }

.search-result {
  font-size: 21px;
  line-height:26px;
  color: black;
  font-weight: bold;
  font-family: "PTSans";
  text-transform: uppercase;
}

.search-sort {
  font-size: 12px;
  line-height: 18px;
  color: black;
  font-weight: normal;
  font-family: "PTSans";
  text-transform: uppercase;
}

.cards-main-title {
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  font-family: "PTSans";
  text-transform: uppercase;
}
